<!-- <h1>FFFF</h1>
<ul *ngFor="let company of allCompanies.companies">
  <li>{{company.id}}</li>
  <li>{{company.email}}</li>
</ul> -->

<table mat-table [dataSource]="companies" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef>Customer Name</th>
      <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="customerEmail">
      <th mat-header-cell *matHeaderCellDef>Customer Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  